{% extends 'layout.html.twig' %}

{% block content %}
    {% if username is defined %}
        <h1>Hello {{username}} !</h1>
        <a href="/logout">logout</a>
    {% else %}
        <h1>Hello Wilder !</h1>
    {% endif %}

{% endblock %}
